<section class="card">
  <a href="/post/{{id}}">
    <h2>{{title}}</h2>
    <h3>{{user.username}}</h3>
    <h4>{{createdAt}}</h4>
    <p>{{contents}}</p>
  </a>
</section>

{{!-- add comments here? --}}