<div class="post-detail-card">
  <div class="post-card-header">
    <h2 class="post-detail-title">{{title}}</h2>
    <h3 class="post-detail-username">{{user.username}}</h3>
    <h4 class="post-detail-date">{{format_date date_created}}</h4>
  </div>
  <div class="post-card-body">
    <p class="post-detail-content">{{contents}}</p>
  </div>
</div>
 
 <div>
  <form class="comment-form" data-postid="{{id}}">
    <div>
      <textarea id="comment-content" name="comment-body"></textarea>
    </div>
    <div>
      <button class="button" type="submit">Add Comment</button>
    </div>
  </form>
 </div>


 {{!-- display existing comments --}}
 <div class="existing-comments">
 <h2 id="comment-header">Comments</h2>
 {{#each comments as |comment|}}
  <div class="comment-card">
    <h5 class="comment-user">{{comment.user.username}}</h5>
    <p class="comment-date">{{format_date comment.date_created}}</p>
    <p class="comment-comment">{{comment.comment}}</p>
  </div>
 {{/each}}
 </div>
