<div class="card">
  <h2>{{title}}</h2>
  <h3>Written by {{user.username}}</h3>
  <h4>{{format_date date_created}}</h4>
  <p>{{contents}}</p>
</div>
 
 <div>
  <form class="comment-form" data-postid="{{id}}">
    <div>
      <textarea id="comment-content" name="comment-body"></textarea>
    </div>
    <div>
      <button class="button" type="submit">Add Comment</button>
    </div>
  </form>
 </div>


 {{!-- display existing comments --}}
 <h2>Comments</h2>
 {{#each comments as |comment|}}
  <div>
    <h5>{{comment.user.username}}</h5>
    <p>{{format_date comment.date_created}}</p>
    <p>{{comment.comment}}</p>
  </div>
 {{/each}}
